.cart-sidebar {
  position: fixed;
  top: 4.2rem;
  right: 0;
  width: 300px;
  height: calc(100vh - 4.5rem);
  background-color: #2b2727;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.cart-sidebar.open {
  transform: translateX(0);
  opacity: 1;
}

.cart-item {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.cart-item--image {
  height: auto;
  width: 4rem;
}

.cart-item--name {
  width: 8rem;
}

.cart-item--amount-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount-group--more-btn,
.amount-group--less-btn {
  background: none;
}
