.item-page {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

.item-page--image-wrapper {
  max-height: 80dvh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-block: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.item-page-image {
  border-radius: 1rem;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.item-page--text-wrapper {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}

.item-page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.item-page-description,
.item-page-title {
  background-color: #9e7167;
  padding: 2rem;
  font-size: 1.05rem;
  border-radius: 1rem;
}

.item-page-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.item-page--price-group {
  display: flex;
  justify-content: space-around;
}

.add-input-group {
  display: flex;
  gap: 2rem;
}
