.shop-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.shop-list--item {
  width: 20rem;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}

.item-image-wrapper {
  width: 100%;
  height: 150px; /* fixed height to keep all image spaces equal */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  overflow: hidden;
}

.item-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
